@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:rgb(27, 27, 27) ;
}

h1{
    text-align: center;
    font-weight:900;
    padding-top: 10px;
    font-size: xx-large;   
}
.perspective {
  perspective: 1000px;
}
.backface-hidden {
  backface-visibility: hidden;
}